/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
 ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
 dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
 time, mark, audio, video{

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*background: transparent;*/
  /*color: inherit;*/
  display: block;
  text-decoration: none;
  font: inherit;
  font-size: inherit;

  background: transparent;
  }

button {
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
}

body {
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #fafafa;
}

/*button {
  border: 0;
  background: transparent;
}*/

/*clear-fix*/
.group:after {
  content: "";
  display: block;
  clear: both;
}
/*clear-fix*/

.login_box {
  background: white;
  margin: auto;
  width: 280px;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid #B0B0B0;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-family: billabong;
  /*background: pink;*/
}

.form-input {
  /*background: green;*/
  width: 270px;
  margin: auto;
  border: 0;
  padding: 0;
}

.form-input label{
}

.password-box {
  position: relative;
  width: 99%;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  outline: none;
}

.password-login {
  position: absolute;
  width: 80%;
  left: 8%;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  outline: none;
  /*right: 10%;*/
  top: 15%;
  bottom: 15%;
}

.username-box {
  position: relative;
  width: 99%;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  outline: none;
}

.username-login {
  position: absolute;
  width: 80%;
  left: 8%;
  font-family: arial;
  font-size: 16px;
  border: 0;
  outline: none;
  /*right: 10%;*/
  top: 15%;
  bottom: 15%;
}

.submit-button {
  width: 100%;
  height: 40px;
  background: #3897f0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.guest-login {
  width: 100%;
  height: 40px;
  background: #3897f0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  outline: none;
}

.signup-or-signin-box {
  width: 360px;
  margin: auto;
  border: 1px solid #B0B0B0;
}

.signup-or-signin {
  text-align: center;
  margin-top: 50px;
  background: white;
  font-size: 16px;
  margin: auto;
  padding: 11px 40px 11px 40px;
}

.signin-signup-toggle {
  color: #3897f0;
  background:none;
  border:none;
  padding:0;
  font: inherit;
  cursor: pointer;
}

.login-through-facebook-box {
  width: 270px;
  position: relative;
  margin: auto;
}
.login-through-facebook {
  width: 100%;
  height: 40px;
  background: #3897f0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0;
  /*margin: auto;*/
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}

.or {
  /*background: green;*/
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: gray;
}
/*home-nav*/

.nav-bar {
  /*height: 50%;*/
  border-bottom: 1px solid #efefef;
  background: white;
  margin-bottom: 20px;
}

.nav-bar-refined {
  width: 90%;
  background: white;
  margin: auto;
  padding: 25px;
  position: relative;
}

.home-link {
  float: left;
  font-size: 75px;
  margin-left: 7.5%;
  cursor: pointer;
}

.picturegram{
  float: right;
  font-family: billabong;
  font-size: 50px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 8%;
  border-left: 2px solid black;
}

.your-page-link {
  float: right;
  font-size: 75px;
  margin-right: 7.5%;
}

.searchbar {
  width: 25%;
  border: 1px solid #dbdbdb;
  height: 50px;
  /*border-radius: 5px;*/
  position: absolute;
  top: 35%;
  right: 37.5%;
}

.searchbar-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.searchbar-text{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: #fafafa;
  font-size: 175%;
  font-weight: 200;
  outline: none;
  text-align: center;
}

.searchbar-text:focus {
  background-color: white;
}

.searchbar-index {
  position: absolute;
  border: 1px solid #dbdbdb;
  width: 100%;
  margin-top: 20px;
  z-index: 1;
}

.searchbar-index-item {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 15px;
  position: relative;
}

.searchbar-index-item:hover{
  background: #fafafa;
}

.searchbar-username {
  position: absolute;
  left: 25%;
  top: 30%;
  font-size: 20px;
}

.searchbar-thumbnail {
  display: inline;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/*logout modal*/

.right-below-nav {
  height: 250px;
  /*padding: 25px;*/
  margin-top: 80px;
  margin-bottom: 30px;
  /*background: green;*/
  font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 21px;
  position: relative;
}

.profile-picture {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  /*float: left;*/
  position: absolute;
  /*margin-left: 8%;*/
  left: 17.5%;
}

.stuff-under-nav-top-part{
  display: block;
  /*float: left;*/
  margin-left: 8%;
  /*height: 250px;*/
  width: 954px;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 30%;
  /*background: pink;*/
}

.user-name {
  display: block;
  float: left;
  margin-right: 10%;
  font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 300;
  /*background-color: blue;*/
}

.profile-form {
  /*float: left;
  margin-right: 10%;*/
  background: #3897f0;
  position: absolute;
  left: 30%;
  top: 5%;
  /*border: 1px solid gray;*/
  padding: 2px;
  border-radius: 10px;
}

.profile-form-button {
  font-size: 25px;
  font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  height: 100%;
}

.profile-bio {
  display: block;
  float: left;
  width: 100%;
  margin-top: 2.5%;
  font-size: 25px;
  /*background: green;*/
}

.user-profile-stats {
  display: block;
  float: left;
  width: 100%;
  margin-top: 2.5%;
  font-size: 25px;
  /*background-color: red;*/
}

.post-count {
  /*background-color: green;*/
}

.post-count-number {
  font-weight: bold;
  float: left;
  margin-right: 1%;
  /*position: absolute;*/
  /*left: 5%;*/
}

.post-count-unit {
  float: left;
}

.logout-modal-button {
  position: absolute;
  font-size: 50px;
  left: 50%;
  /*top: 2.5%;*/
  /*background-color: green;*/
}

.logout-modal {
  width: 100%;
  height: 100%;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  /*top: 50%;*/
  font-size: 20px;
  font-weight: 400;
  background: white;
}

.logout-half {
  display: block;
  /*background: green;*/
  height: 50%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background: white;
}

.logout-modal button:hover {
  background: #E0E0E0;
}

.cancel-half {
  display: block;
  height: 50%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  background: white;
}

/*<img alt="Add a profile photo" class="_g5pg0" src="https://scontent-lga3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg">*/
/*Modal stuff*/

.user-picture-index {
  display: block;
  width: 1506px;
  margin: auto;
}

.posted-picture {
  float: left;
  margin: 25px;
  width: 450px;
  height: 450px;
  background: black;
  cursor: pointer;
  border: 1px solid #D8D8D8;
}

.index-picture {
  width: 450px;
  height: 450px;
}
.index-picture:hover {
  opacity: 0.75;
}

/*PostForm*/

.post-form {
  /*position: absolute;*/
  margin: auto;
}

.post-form-button {
  font-size: 75px;
  width: 5%;
  margin: auto;
}

.modal-body {
  /*background: green;*/
  position: relative;
  height: 100%;
  background: #fafafa;
}

.post-form-boxes {
  /*background: red;*/
  /*bottom: 0;*/
  position: absolute;
  top: 73%;
  /*background: green;*/
  left: 20%;
  width: 60%;
  height: 25%;
  /*height: 20%;*/
  /*bottom: 0px;*/
  color: black;
}

.post-form-header {
  text-align: center;
  width: 50%;
  margin: auto;
  font-weight: 200;
  font-size: 30px;
  padding-top: 2%;
  /*color: #B0B0B0;*/
}

.image-preview-box {
  display: block;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: 1px solid #fafafa;
  /*background: blue;*/
  /*background: white;*/
}

.image-preview {
  width: 100%;
  height: 100%;
  border: 0;
  /*background: green;*/
}

.choose-file {
  position: absolute;
  width: 100%;
  top: 0%;
  bottom: 90%;
  /*margin: auto;*/
  /*top: 10%;*/
  /*margin-bottom: 1%;*/
  background: #fafafa;
  font-weight: bold;
  outline: none;
  /*font-size: 20px;*/
  /*border: 1px solid gray;*/
}

.upload-image-caption {
  /*display: block;*/
  position: absolute;
  top: 20%;
  bottom: 50%;
  width: 100%;
  border: 0;
  padding: 0;
  /*text-align: center;*/
  border-top: 1px solid #B0B0B0 ;
  border-bottom: 1px solid #B0B0B0 ;
  /*margin: auto;
  margin-bottom: 1%;*/
  background: #fafafa;
  /*font-weight: bold;*/
  font-size: 15px;
  outline: none;
}

/*::-webkit-input-placeholder {
  color: black;
}*/

.post-form-submit-button {
  position: absolute;
  width: 40%;
  height: 30%;
  left: 30%;
  top: 60%;
  bottom: 25%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 1px solid #B0B0B0;
  border-radius: 10px;
  outline: none;
  background: #3897f0;
  text-align: center;
  cursor: pointer;
}

/*-----------------------------------------------------------*/
.picture {
  float: left;
  /*margin: 10px;*/
  height: 100%;
}

/*img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}*/

.non-picture-stuff{
  float: right;
  width: 40%;
  /*padding: 10px;*/
  margin-right: 2%;
  /*margin: auto;*/
  height: 100%;
  position: relative;
}

.post-header {
  border-bottom: 1px solid #efefef;
  padding: 3% 0 3% 0;
  height: 10%;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  position: absolute;
  /*background: red;*/
}

.thumbnail {
  /*display: inline;*/
  position: absolute;
  border-radius: 50%;
  top: 22%;
  /*margin-top: 30%;*/
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.thumb-username {
  display: inline;
  position: absolute;
  top: 35%;
  padding-left: 15%;
  cursor: pointer;
}

.caption-and-comments {
  overflow-y: scroll;
  top: 15%;
  height: 70%;
  width: 100%;
  /*background: pink;*/
  position: absolute;
}

.caption {
  color: #262626;
  margin: 10px 0 10px 0;
}

.username {
  display: inline;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
}

.comment {
  word-wrap: break-word;
  height: 50%;
  margin: 10px 0 10px 0;
}

.comment-list {
  /*border-bottom: 1px solid #efefef;*/
}

.comment-form {
  position: absolute;
  top: 85%;
  height: 15%;
  width: 100%;
  /*background: red;*/
  /*padding: 15px;*/
  /*font-size: 20px;*/
  border-top: 1px solid #efefef;
}


/*Home Index Items */

.home-index-item {
  background: white;
  width: 40%;
  height: 1200px;
  margin: auto;
  margin-bottom: 40px;
  border: 1px solid #efefef;
  border-radius: 10px;
  position: relative;
}

.post-header-home {
  padding: 1% 0 1% 0;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  height: 8%;
  width: 100%;
  /*background: red;*/
  /*margin: auto;*/
  position: absolute;
}

/*.post-header-home {
  border-bottom: 1px solid #efefef;
  padding: 20px 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  position: relative;
}*/

/*.post-header {
  border-bottom: 1px solid #efefef;
  padding: 3% 0 3% 0;
  height: 10%;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  position: absolute;
}*/

.thumbnail-home {
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 5%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.thumb-username-home {
  position: absolute;
  left: 15%;
  top: 37.5%;
  /*padding-left: 2.5%;*/
  font-size: 20px;
  cursor: pointer;
}

.home-picture {
  position: absolute;
  top: 9%;
  width: 100%;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  /*background: black;*/
  /*width: 50%;*/
}

.caption-and-comments-home {
  position: absolute;
  top: 73.5%;
  left: 5%;
  width: 90%;
  height: 18.5%;
  font-size: 20px;
  overflow-y: scroll;
  /*background: green;*/
  /*border-bottom: 1px solid #efefef;*/
}

/*.username-home {
  display: inline;
  font-weight: bold;
  font-size: 20px;
}*/

.username-home {
  display: inline;
  font-weight: bold;
  font-size: 20px;
  left: 15%;
  cursor: pointer;
}

.comment-form-home {
  position: absolute;
  top: 92%;
  height: 8%;
  width: 90%;
  left: 5%;
  /*background: pink;*/
  /*padding: 15px;
  margin: auto;*/
  border-top: 1px solid #efefef;
}

.comment-form-text {
  position: absolute;
  top: 33%;
  width: 90%;
  border: 0;
  outline: none;
  font-size: 20px;
  /*margin: auto;*/
  /*background: green;*/
}
