/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
 ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
 dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
 time, mark, audio, video{

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*background: transparent;*/
  /*color: inherit;*/
  display: block;
  text-decoration: none;
  font: inherit;
  font-size: inherit;

  background: transparent;
  }

button {
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
}

body {
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #fafafa;
  /*background-color: #ededed;*/
}

/*button {
  border: 0;
  background: transparent;
}*/

/*clear-fix*/
.group:after {
  content: "";
  display: block;
  clear: both;
}
/*clear-fix*/

.login_box {
  background: white;
  margin: auto;
  width: 300px;
  /*height: 430px;*/
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #B0B0B0;
  position: relative;
}

.login-title {
  /*position: absolute;*/
  width: 200px;
  margin: auto;
  height: 80px;
  margin-bottom: 20px;
  /*left: 60px;
  right: 60px;*/
  /*top: 20px;
  bottom: 370px;*/
  /*top: 18%;
  bottom: 18%;*/
  background-image: url("login_page_logo.png");
  background-size: 100% 100%;
  /*background-color: green;*/
}

.login-through-facebook-box {
  /*width: 270px;*/
  /*position: absolute;;*/
  /*margin: auto;*/
  /*left: 20px;
  right: 20px;*/
  /*top: 120px;
  bottom: 310px;*/
  height: 40px;
  margin-bottom: 20px;
}

.login-through-facebook {
  width: 100%;
  height: 100%;
  background: #3897f0;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 0;
  /*margin: auto;*/
  /*margin-top: 20px;
  margin-bottom: 20px;*/
  border-radius: 5px;
  outline: none;
}

.fa.fa-facebook-official.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -5%;
}

.or {
  /*background: green;*/
  /*position: absolute;*/
  font-size: 20px;
  /*top: 180px;
  bottom: 270px;*/
  /*left: 45.75%;
  right: 45.75%;*/
  /*text-align: center;*/
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  color: gray;
}

/*.form-input {
  background: green;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 220px;
  bottom: 30px;
  border: 0;
  padding: 0;
}*/

/*.form-input label{
}*/

.username-box {
  position: relative;;
  /*top: 0px;
  bottom: 180px;*/
  width: 99%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  outline: none;
  /*background-color: blue;*/
}

.username-login {
  position: absolute;
  /*font-family: arial;*/
  font-size: 20px;
  font-weight: 200;
  border: 0;
  outline: none;
  left: 5%;
  right: 5%;
  top: 15%;
  bottom: 15%;
}

.password-box {
  position: relative;
  /*top: 60px;
  bottom: 120px;*/
  height: 40px;
  margin-bottom: 20px;
  width: 99%;
  /*height: 30px;*/
  /*margin-top: 2.5%;*/
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  outline: none;
  /*background-color: blue;*/
}

.password-login {
  position: absolute;
  /*background-color: green;*/
  /*font-family: arial;*/
  font-size: 20px;
  font-weight: 200;
  border: 0;
  outline: none;
  left: 5%;
  right: 5%;
  top: 15%;
  bottom: 15%;
}

.submit-button {
  /*position: absolute;*/
  /*top: 180px;
  bottom: 0px;*/
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background: #3897f0;
  font-size: 20px;
  font-weight: 500;
  color: white;
  /*margin-top: 20px;*/
  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.guest-login {
  /*position: absolute;*/
  /*top: 120px;
  bottom: 60px;*/
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  /*height: 40px;*/
  /*background: #3897f0;*/
  background-color: #70c050;
  /*box-shadow: 0px 0px 10px 0px black;*/
  font-size: 20px;
  font-weight: 500;
  color: white;
  /*margin-top: 20px;*/
  border-radius: 5px;
  outline: none;
}

.signup-or-signin-box {
  width: 340px;
  margin: auto;
  border: 1px solid #B0B0B0;
  margin-top: 40px;
}

.signup-or-signin {
  text-align: center;
  /*margin-top: 50px;*/
  background: white;
  font-size: 20px;
  font-weight: 300;
  margin: auto;
  padding: 20px;
}

.signin-signup-toggle {
  color: #3897f0;
  background:none;
  border:none;
  padding:0;
  font: inherit;
  cursor: pointer;
}

.login-form-error {
  /*background-color: green;*/
  /*width: 100%;*/
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

/*home-nav*/

.nav-bar {
  position: fixed;
  z-index: 1;
  /*height: 50%;*/
  width: 100%;
  /*border-bottom: 1px solid #efefef;*/
  border-bottom: 1px solid #dbdbdb;
  background: white;
  height: 75px;
  /*min-width: 800px;*/
  /*margin-bottom: 20px;*/
  /*min-width: 900px;*/
}

.nav-bar-refined {
  width: 85%;
  height: 75px;
  background: white;
  margin: auto;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
  position: relative;
}

.home-link {
  /*float: left;*/
  position: absolute;
  font-size: 75px;
  /*margin-left: 7.5%;*/
  cursor: pointer;
  left: 0%;
  right: 85%;
  top: 0;
  bottom: 0;
}

.home-link-button {
  position: absolute;
  width: 100%;
  top: 5%;
  bottom: 5%;
  background-image: url("home_link_button.png");
  background-size: 100% 100%;
}

.follow-toggle {
  position: absolute;
  left: 17.5%;
  top: 14px;
  border-radius: 12px;
  border: 2px solid #3897f0;
  background-color: #3897f0;
  /*color: #3897f0;*/
  color: white;
  text-align: center;
  width: 110px;
  height: 44px;
  font-size: 13px;
  font-weight: bold;
  /*color: #3897f0;
  border: 2px solid #3897f0;*/
  box-shadow: 0px 0px 12px 0px black;
  cursor: pointer;
}

.follow-not-follow-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*@font-face {
    font-family: billabong;
    src: url('./fonts/Billabong.ttf');
    font-weight: bold;
}*/

.picturegram{
  /*float: right;*/
  /*position: absolute;
  left: 70%;
  right: 10%;
  font-family: billabong;
  font-stretch: expanded;*/
  /*font-size: 50px;*/
  /*margin-left: 10px;*/
  /*padding-left: 10px;*/
  /*padding-top: 8%;*/
  /*border-left: 2px solid black;*/
}

.your-page-link {
  float: right;
  height: 100%;
  /*position: absolute;*/
  font-size: 62px;
  cursor: pointer;
  /*margin-right: 7.5%;*/
  /*right: 0%;*/
  /*margin-top: 0;
  margin-bottom: 0;*/
}

.fa.fa-user {
  /*background-color: green;*/
  padding: 0;
}

.searchbar {
  position: absolute;
  /*width: 25%;*/
  border: 1px solid #dbdbdb;
  height: 50px;
  /*border-radius: 5px;*/
  top: 11px;
  left: 37.5%;
  right: 37.5%;
}

.searchbar-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.searchbar-text{
  position: absolute;
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 0 10% 0 10%;
  border: 0;
  background-color: #fafafa;
  font-size: 175%;
  font-weight: 200;
  outline: none;
  text-align: center;
}

.searchbar-text:focus {
  background-color: white;
}

.searchbar-index {
  position: absolute;
  border: 1px solid #dbdbdb;
  width: 100%;
  margin-top: 7px;
  margin-left: -1px;
}

.searchbar-index-item {
  background-color: white;
  /*background-color: green;*/
  border: 1px solid #dbdbdb;
  padding: 15px;
  /*height: 55px;*/
  position: relative;
  overflow: auto;
  cursor: pointer;
  /*z-index: 2;*/
}

.searchbar-index-item:hover{
  background: #ededed;
}

.searchbar-thumbnail {
  /*display: inline;*/
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  /*z-index: 2;*/
}

.searchbar-username {
  position: absolute;
  left: 80px;
  right: 15px;
  top: 30%;
  font-size: 20px;
  /*z-index: 2;*/
  /*background-color: green;*/
}

.searchbar-thumbnail-hashtag {
  /*display: inline;*/
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url('hashtag.png');
  background-size: 100% 100%;
  background-color: green;
  cursor: pointer;
  /*z-index: 2;*/
}

.searchbar-username-hashtag {
  position: absolute;
  left: 80px;
  right: 15px;
  top: 20%;
  font-size: 20px;
  /*z-index: 2;*/
}

.searchbar-hashtag-post-count {
  position: absolute;
  /*background-color: green;*/
  left: 78px;
  top: 50%;
  font-size: 20px;
  color: gray;
  /*z-index: 2;*/
}

/*logout modal*/

.body {
  position: absolute;;
  top: 76px;
  left: 0%;
  right: 0%;
}

.right-below-nav {
  height: 250px;
  /*height: 30%;*/
  /*padding: 25px;*/
  margin-top: 80px;
  margin-bottom: 30px;
  /*background: green;*/
  font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 21px;
  position: relative;
  min-width: 900px;
}

.profile-picture {
  border-radius: 50%;
  /*height: 250px;
  width: 250px;*/
  /*height: 100%;*/
  height: 250px;
  width: 17%;
  /*float: left;*/
  position: absolute;
  /*margin-left: 8%;*/
  /*background-color: green;*/
  left: 9%;
}

.stuff-under-nav-top-part{
  display: block;
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: 35%;
  right: 2.5%;
  /*background: green;*/
}

.username-and-buttons{
  display: block;
  float: left;
  width: 100%;
  /*background-color: pink;*/
}

.user-name {
  display: block;
  float: left;
  font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 300;
  /*background-color: blue;*/
}

.profile-form {
  float: left;
  background: #3897f0;
  padding: 4px 4px 4px 4px;
  border-radius: 7px;
  margin-top: 12px;
  margin-left: 5%;
}

.profile-form-button {
  font-size: 20px;
  font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  /*background-color: purple;*/
}

.follow-button-index {
  float: left;
  margin-top: 12px;
  padding: 4px 8px 5px 8px;
  border-radius: 7px;
  margin-left: 5%;
  /*width: 100px;
  height: 100px;*/
  font-size: 20px;
  font-weight: 600;
  /*background-color: green;*/
  color: #3897f0;
  border: 2px solid #3897f0;
  cursor: pointer;
}

.logout-modal-button {
  float: left;
  font-size: 44px;
  margin-top: 6px;
  margin-left: 5%;
  width: 50px;
  height: 50px;
  background-image: url("three_dots.png");
  background-size: 100% 100%;
  cursor: pointer;
  /*background-color: purple;*/
}

.logout-modal {
  width: 100%;
  height: 100%;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  /*top: 50%;*/
  font-size: 20px;
  font-weight: 400;
  background: white;
}

.profile-bio {
  display: block;
  float: left;
  width: 100%;
  margin-top: 2.5%;
  font-size: 25px;
  /*background: green;*/
}

.user-profile-stats {
  display: block;
  float: left;
  width: 100%;
  margin-top: 2.5%;
  font-size: 25px;
  /*background-color: red;*/
}

.user-stat-posts {
  float: left;
  margin-right: 8%;
}

.user-stat {
  /*background-color: green;*/
  float: left;
  margin-right: 8%;
  cursor: pointer;
}

.user-stat-number {
  font-weight: bold;
  display: inline;
}

.user-stat-unit {
  display: inline;
}

.user-stat:hover {
  color: #49E20E;
}

.follow-header {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 90%;
  text-align: center;
  font-size: 20px;
  background-color: #fafafa;
  border-bottom: 1px solid gray;
}

.follow-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 20px;
}

.follow-list {
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #fafafa;
}

.follow-index-item {
  /*background-color: #fafafa;*/
  position: relative;
  padding: 15px;
  border-bottom: 1px solid gray;
}

.follow-index-item-username {
  position: absolute;
  left: 80px;
  top: 32%;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.follow-button-follow-index-item {
  position: absolute;
  right: 15px;
  top: 20px;
  padding: 4px 8px 5px 8px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 600;
  color: #3897f0;
  border: 2px solid #3897f0;
  cursor: pointer;
}

.logout-half {
  display: block;
  /*background: green;*/
  height: 50%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background: white;
}

.logout-modal button:hover {
  background: #E0E0E0;
}

.cancel-half {
  display: block;
  height: 50%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  background: white;
}

/*<img alt="Add a profile photo" class="_g5pg0" src="https://scontent-lga3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg">*/
/*Modal stuff*/

.user-picture-index {
  display: block;
  /*width: 1506px;*/
  width: 100%;
  /*margin: auto;*/
  /*background-color: green;*/
}

.posted-picture {
  float: left;
  margin-left: 2.5%;
  /*margin-top: 2.5%;*/
  margin-bottom: 2.5%;
  /*margin: 25px;*/
  /*width: 600px;
  height: 600px;*/
  width: 30%;
  background: black;
  cursor: pointer;
  position: relative;
  /*border: 1px solid #D8D8D8;*/
}

.index-picture {
  /*width: 450px;
  height: 450px;*/
  width: 100%;
  /*position: relative;*/
}

@keyframes fadeinout {
  0%, 100% {opacity: 0;}
  43% {opacity: 1;}
  45% {opacity: 1;}
  47% {opacity: 1;}
  50% {opacity: 1;}
  53% {opacity: 1;}
  55% {opacity: 1;}
  57% {opacity: 1;}
}

.picture-underneath {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  /*background-color: green;*/
  opacity: 0.5;
}

.like-animation {
  position: absolute;
  top: 39%;
  bottom: 39%;
  left: 37%;
  right: 37%;
  /*background-color: blue;*/
  background-image: url("heart.png");
  background-size: 100% 100%;
  opacity: 0;
  animation: fadeinout 2.5s linear;
}

.unlike-animation {
  position: absolute;
  top: 36%;
  bottom: 36%;
  left: 36%;
  right: 36%;
  /*background-color: red;*/
  background-image: url("broken-heart.png");
  background-size: 100% 100%;
  opacity: 0;
  animation: fadeinout 2.5s linear;
}

.posted-picture:hover .index-picture {
  opacity: 0.6;
}

.posted-picture:hover .index-picture-icons {
  z-index: 1;
}

.index-picture-icons{
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 25%;
  right: 25%;
  /*background-color: green;*/
  z-index: -1;
}

.fa.fa-heart {
  float: left;
  padding-right: 8%;
}

.like-count-index {
  float: left;
}

.like-count-with-icon-index {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 50%;
  font-size: 3vw;
  color: white;
  /*background-color: red;*/
}

.fa.fa-comment {
  float: right;
  padding-right: 8%;
}

.comment-count-index {
  float: right;
}

.comment-count-with-icon-index {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 50%;
  font-size: 3vw;
  color: white;
  /*text-align: right;*/
}

/*PostForm*/

.hashtag-post-form {
  /*background-color: green;*/
}

.post-form {
  /*position: absolute;*/
  /*margin: auto;*/
  /*margin-bottom: 2.5%;*/

}

.post-form-home {

}

.post-form-button {
  font-size: 75px;
  width: 93px;
  height: 78px;
  margin: auto;
  /*background-color: green;*/
  padding-top: 0px;
  position: relative;
  /*margin-bottom: 2.5%;*/
}

.fa.fa-camera {
  position: absolute;
  top: 7%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  /*background-color: blue;*/
}

.spacing-below-post-form {
  margin-bottom: 2.5%;
  /*background-color: blue;*/
}

.spacing-above-post-form-home {
  height: 1px;
}

.spacing-below-post-form-home {
  height: 10px;
}

.modal-body {
  /*background: green;*/
  position: relative;
  height: 100%;
  background: #fafafa;
  /*background: #ededed;*/
}

.modal-click-right {
  /*background-color: green;*/
  position: absolute;;
  top: 145px;
  right: -130px;
  height: 300px;
  width: 125px;
  background-image: url("right_arrow.png");
  background-size: 100% 100%;
  cursor: pointer;
}

.modal-click-left {
  /*background-color: green;*/
  position: absolute;;
  top: 155px;
  left: -130px;
  height: 300px;
  width: 125px;
  background-image: url("left_arrow.png");
  background-size: 100% 100%;
  cursor: pointer;
}

.image-preview-box {
  /*display: block;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: 1px solid #fafafa;*/
  background: #ededed;
  left: 0px;
  height: 600px;
  width: 600px;
  position: absolute;
  border-right: 1px solid #dbdbdb;
}

.image-preview {
  width: 100%;
  height: 100%;
  border: 0;
}

.post-form-text {
  /*background: red;*/
  position: absolute;
  left: 601px;
  right: 0px;
  top: 0px;
}

.post-form-header {
  /*position: absolute;
  top: 2.5%;
  bottom: 92%;
  left: 0%;
  right: 0%;
  text-align: center;
  font-size: 200%;
  font-weight: 200;*/
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ededed;
  /*background-color: blue;*/
}

.post-form-boxes {
  /*bottom: 0;*/
  /*position: absolute;
  top: 73%;*/
  /*background: green;*/
  /*left: 20%;
  width: 60%;
  height: 25%;*/
  /*height: 20%;*/
  /*bottom: 0px;*/
  /*color: black;*/
}

.choose-file {
  /*position: absolute;
  width: 100%;
  top: 0%;
  bottom: 90%;
  background: #fafafa;
  font-size: 90%;
  font-weight: bold;
  outline: none;*/
  margin-left: 10px;
  margin-bottom: 20px;
  width: 279px;
  font-size: 10px;
  outline: none;
  /*background-color: blue;*/
}

.upload-image-caption {
  /*position: absolute;
  top: 20%;
  bottom: 50%;
  width: 100%;
  border: 0;
  padding: 0;
  border-top: 1px solid #B0B0B0 ;
  border-bottom: 1px solid #B0B0B0 ;
  background: #fafafa;
  font-size: 15px;
  outline: none;*/
  /*background-color: blue;*/
  width: 269px;
  height: 100px;
  padding: 5px;
  /*padding-top: 10px;*/
  border: 0px;
  border-top: 1px solid #ededed;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  outline: none;
  /*position: relative;*/
}

.upload-image-caption-text {
  position: absolute;
  font-size: 20px;
  width: 265px;
  top: 5px;
  bottom: 5px;
  left: 5px;
  border: 0;
  /*background-color: green;*/
}

/*::-webkit-input-placeholder {
  color: black;
}*/

.post-form-submit-button {
  /*position: absolute;
  width: 50%;
  height: 30%;
  left: 25%;
  top: 60%;
  bottom: 25%;
  font-size: 90%;
  font-weight: bold;
  color: white;
  border: 1px solid #B0B0B0;
  border-radius: 10px;
  outline: none;
  background: #3897f0;
  text-align: center;
  cursor: pointer;*/
  margin-left: 10px;
  width: 279px;
  border: 1px solid #B0B0B0;
  border-radius: 10px;
  background: #3897f0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

/*-----------------------------------------------------------*/
.picture-container {
  position: absolute;
  left: 0%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
  cursor: pointer;
}

.picture {
  /*position: absolute;
  left: 0%;
  height: 100%;
  border-right: 1px solid #dbdbdb;*/
  width: 100%;
}

/*img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}*/

.non-picture-stuff{
  /*float: right;*/
  /*width: 33%;*/
  /*padding: 10px;*/
  /*margin-right: 2%;*/
  /*margin: auto;*/
  height: 100%;
  /*position: relative;*/
  left: 62%;
  right: 2%;
  position: absolute;
}

.post-header {
  /*border-bottom: 1px solid #efefef;*/
  border-bottom: 1px solid #dbdbdb;
  /*padding: 3% 0 3% 0;*/
  height: 15%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #262626;
  position: absolute;
  /*background: red;*/
}

.thumbnail {
  /*display: inline;*/
  position: absolute;
  border-radius: 50%;
  top: 25%;
  /*margin-top: 30%;*/
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.thumb-username {
  /*display: inline;*/
  position: absolute;
  top: 37.5%;
  /*padding-left: 15%;*/
  left: 54.5px;
  cursor: pointer;
  /*background-color: green;*/
}

.follow-button-index-item {
  position: absolute;
  /*margin-top: 12px;*/
  right: 0px;
  top: 29%;
  padding: 4px 8px 5px 8px;
  border-radius: 7px;
  /*margin-left: 5%;*/
  /*width: 100px;
  height: 100px;*/
  font-size: 20px;
  font-weight: 600;
  /*background-color: green;*/
  color: #3897f0;
  border: 2px solid #3897f0;
  cursor: pointer;
}

.caption-and-comments {
  overflow-y: auto;
  top: 25%;
  bottom: 15%;
  /*height: 70%;*/
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  /*background: pink;*/
  position: absolute;
  border-bottom: 1px solid #dbdbdb;
}

.caption {
  /*color: #262626;*/
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 400;
  /*background-color: green;*/
}

.caption-text {
  /*background-color: green;*/
  display: inline;
}

.hashtag-header {
  height: 200px;
  /*height: 30%;*/
  /*padding: 25px;*/
  /*margin-top: 80px;*/
  /*margin-bottom: 30px;*/
  /*background: green;*/
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 21px;
  position: relative;
}

.hashtag-title {
  position: absolute;
  color: black;
  /*background-color: blue;*/
  left: 0%;
  right: 0%;
  top: 30%;
  text-align: center;
  margin: auto;
  font-size: 55px;
  font-weight: 300;
}

.hashtag-post-count-container {
  position: absolute;
  /*background-color: red;*/
  left: 0%;
  right: 0%;
  top: 70%;
  text-align: center;
  font-size: 25px;
}

.hashtag-post-count {
  display: inline;
  font-weight: bold;
}

.username {
  display: inline;
  font-weight: 600;
  /*color: #262626;*/
  cursor: pointer;
}

.comment {
  word-wrap: break-word;
  height: 50%;
  margin: 10px 0 10px 0;
  /*background-color: blue;*/
}

.comment-list {
  /*border-bottom: 1px solid #efefef;*/
}

.hashtag {
  display: inline;
  color: blue;
  cursor: pointer;
}

.like-button-container{
  position: absolute;
  /*background-color: green;*/
  top: 85%;
  left: 0%;
  right: 83.5%;
  /*height: 15%;*/
  bottom: 0%;
  cursor: pointer;
  /*z-index: 200;*/
}

.like-button-like {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 90%;
  height: 50%;
  background-image: url("heart-outline.png");
  background-size: 100% 100%;
}

.like-button-unlike {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 90%;
  height: 50%;
  background-image: url("pink-heart.png");
  background-size: 100% 100%;
  /*background-color: green;*/
}

.like-count{
  position: absolute;
  /*background-color: red;*/
  font-size: 20px;
  font-weight: 600;
  padding-top: 7%;
  padding-bottom: 7%;
  top: 15%;
  /*bottom: 60%;*/
}

.time-since {
  /*display: inline;*/
  position: absolute;
  font-size: 20px;
  padding-top: 7.25%;
  padding-bottom: 7%;
  top: 15%;
  right: 0%;
  color: rgb(153, 153, 153);
}

.edit-caption {
  position: absolute;
  right: 0px;
  top: 29%;
  padding: 5px 8px 5px 8px;
  border-radius: 7px;
  border: 2px solid blue;
  font-size: 20px;
  font-weight: 400;
  color: blue;
  cursor: pointer;
}

.edit-caption:hover {
  background-color: blue;
  color: white;
}

.edit-caption-home {
  position: absolute;
  /*background-color: green;*/
  border: 2px solid blue;
  border-radius: 7px;
  top: 707px;
  padding: 0.5% 1% 0.5% 1%;
  left: 39.5%;
  /*left: 9%;*/
  font-size: 20px;
  font-weight: 400;
  color: blue;
  cursor: pointer;
}

.edit-caption-home:hover {
  background-color: blue;
  color: white;
}

.post-edit-form {
  position: absolute;
  /*background-color: #fafafa;*/
  background-color: white;
  top: 15%;
  bottom: 50%;
  left: 180px;
  right: 420px;
  z-index: 111;
  opacity: 0.75;
}

.close-post-edit-form {
  position: absolute;
  /*background-color: green;*/
  top: 20px;
  /*bottom: 50%;
  left: 70%;*/
  right: 20px;
  width: 30px;
  height: 30px;
  background-image: url("exit.png");
  background-size: 100% 100%;
  cursor: pointer;
}

.post-edit-form-text {
  position: absolute;
  outline: none;
  border: 0px;
  padding: 0px;
  top: 30px;
  bottom: 70px;
  left: 30px;
  /*right: 5px;*/
  width: 310px;
  font-size: 20px;
  /*background-color: blue;*/
}

.post-edit-form-error {
  position: absolute;
  bottom: 0px;
  top: 160px;
  left: 121px;
  /*width: 320px;*/
  color: red;
  /*background-color: green;*/
}

.post-edit-form-home {
  position: absolute;
  /*background-color: #fafafa;*/
  background-color: white;
  top: 50%;
  bottom: 33.3%;
  left: 5%;
  right: 5%;
  z-index: 111;
  opacity: 0.75;
}

.close-post-edit-form-home {
  position: absolute;
  /*background-color: green;*/
  top: 20px;
  /*bottom: 50%;
  left: 70%;*/
  right: 20px;
  width: 30px;
  height: 30px;
  background-image: url("exit.png");
  background-size: 100% 100%;
  cursor: pointer;
}

.post-edit-form-text-home {
  position: absolute;
  outline: none;
  border: 0px;
  padding: 0px;
  top: 25px;
  bottom: 50px;
  left: 25px;
  /*right: 40px;*/
  width: 445px;
  font-size: 20px;
  /*background-color: blue;*/
}

.post-edit-form-error-home {
  position: absolute;
  bottom: 0px;
  /*top: 160px;*/
  bottom: 15px;
  left: 192px;
  /*width: 320px;*/
  color: red;
  /*background-color: green;*/
}

.comment-form {
  position: absolute;
  top: 85%;
  left: 16.5%;
  height: 15%;
  right: 0%;
  /*width: 85%;*/
  /*left: 15%;*/
  /*background: red;*/
  /*padding: 15px;*/
  /*font-size: 20px;*/
  /*border-top: 1px solid #efefef;*/
  /*border-top: 1px solid #dbdbdb;*/
}

.comment-form-text {
  position: absolute;
  top: 30%;
  width: 90%;
  border: 0;
  margin: 2% 2% 2% 4%;
  outline: none;
  font-size: 20px;
  /*margin: auto;*/
  /*background: green;*/
}

/*Home Index Items */

.home-index {
  position: relative;
  top: 78px;
}

.home-index-item {
  background: white;
  width: 600px;
  height: 1000px;
  margin: auto;
  margin-bottom: 40px;
  /*border: 1px solid #efefef;*/
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  position: relative;
}

.post-header-home {
  padding: 1% 0 1% 0;
  font-size: 20px;
  font-weight: 400;
  color: #262626;
  height: 8%;
  width: 100%;
  /*background: red;*/
  /*margin: auto;*/
  position: absolute;
}

/*.post-header-home {
  border-bottom: 1px solid #efefef;
  padding: 20px 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  position: relative;
}*/

/*.post-header {
  border-bottom: 1px solid #efefef;
  padding: 3% 0 3% 0;
  height: 10%;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  position: absolute;
}*/

.thumbnail-home {
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 5%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.thumb-username-home {
  position: absolute;
  left: 15%;
  top: 37.5%;
  /*padding-left: 2.5%;*/
  font-size: 20px;
  cursor: pointer;
}

.follow-button-home {
  position: absolute;
  /*margin-top: 12px;*/
  right: 5%;
  top: 30%;
  padding: 4px 8px 5px 8px;
  border-radius: 7px;
  margin-left: 5%;
  /*width: 100px;
  height: 100px;*/
  font-size: 20px;
  font-weight: 600;
  /*background-color: green;*/
  color: #3897f0;
  border: 2px solid #3897f0;
  cursor: pointer;
}

.home-picture-container {
  position: absolute;
  top: 9%;
  height: 60%;
  /*border-top: 1px solid #efefef;*/
  border-top: 1px solid #dbdbdb;
  /*border-bottom: 1px solid #efefef;*/
  border-bottom: 1px solid #dbdbdb;
  /*background: black;*/
  /*width: 50%;*/
  /*background-color: red;*/
  cursor: pointer;
}

.home-picture {
  width: 100%;
}

.like-count-home {
  position: absolute;
  /*background-color: red;*/
  /*font-size: 20px;
  font-weight: 600;
  padding-top: 7%;
  padding-bottom: 7%;
  top: 15%;*/
  top: 692px;
  left: 5%;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 0px 16px 0px;
  /*bottom: 60%;*/
}

.time-since-home {
  position: absolute;
  right: 5%;
  font-size: 20px;
  font-weight: 400;
  top: 692px;
  padding: 19px 0px 16px 0px;
  color: rgb(153, 153, 153);
}

.caption-and-comments-home {
  position: absolute;
  /*top: 71%;*/
  /*top: 744px;*/
  top: 750px;
  left: 5%;
  bottom: 8%;
  width: 90%;
  font-size: 20px;
  font-weight: 400;
  /*height: 18.5%;*/
  font-size: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #dbdbdb;
  /*background: green;*/
  /*border-bottom: 1px solid #efefef;*/
}

/*.username-home {
  display: inline;
  font-weight: bold;
  font-size: 20px;
}*/

.username-home {
  display: inline;
  font-weight: bold;
  font-size: 20px;
  left: 15%;
  cursor: pointer;
}

.comment-form-home {
  position: absolute;
  top: 92%;
  height: 8%;
  /*width: 90%;*/
  right: 5%;
  left: 15%;
  /*background-color: blue;*/
  /*padding: 15px;
  margin: auto;*/
  /*border-top: 1px solid #efefef;*/
  /*border-top: 1px solid #dbdbdb;*/
}

.like-button-container-home {
  position: absolute;
  top: 92%;
  left: 5%;
  right: 85%;
  bottom: 0%;
  cursor: pointer;
  /*background-color: green;*/
}

.comment-form-text-home {
  position: absolute;
  top: 22%;
  width: 90%;
  border: 0;
  margin: 2%;
  outline: none;
  font-size: 20px;
  /*margin: auto;*/
  /*background: red;*/
}

.fetch-five {
  /*background-color: green;*/
  cursor: pointer;
  background-image: url('load-more.png');
  background-size: 100% 100%;
  width: 125px;
  height: 125px;
  margin: auto;
  margin-bottom: 40px;
}

.follow-not-follow-button {
  position: fixed;
  right: 100px;
  bottom: 100px;
  /*top: 200px;*/
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #70c050;
  border: 2px solid #70c050;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.message {
  position: absolute;
  top: 150px;
  left: 5%;
  right: 5%;
  text-align: center;
  background-color: white;
  padding: 30px;
  font-size: 25px;
}

.floor {
  height: 1px;
}
