/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
 ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
 dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  display: block;
  font: inherit;
  }


body {
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #fafafa;
}

/*clear-fix*/
.group:after {
  content: "";
  display: block;
  clear: both;
}
/*clear-fix*/

.login_box {
  background: white;
  margin: auto;
  width: 280px;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 40px;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 20px;
  /*background: pink;*/
}

.form-input {
  /*background: green;*/
  width: 270px;
  margin: auto;
  border: 0;
  padding: 0;
}

.form-input label{
}

.password {
  width: 97%;
  margin-top: 10px;
  font-size: 16px;
}

.username {
  width: 97%;
  margin-top: 10px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  background: #3897f0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.guest-login {
  width: 100%;
  background: #3897f0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.signup-or-signin-box {
  width: 360px;
  margin: auto;
}

.signup-or-signin {
  text-align: center;
  margin-top: 50px;
  background: white;
  font-size: 12px;
  margin: auto;
  padding: 10px;
}

.signin-signup-toggle {
  color: #3897f0;
  background:none;
  border:none;
  padding:0;
  font: inherit;
}

.login-through-facebook {
  width: 97%;
  background: #3897f0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.or {
  /*background: green;*/
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: gray;
}
/*home-nav*/

.nav-bar {
  height: 50%;
  border-bottom: 1px solid #efefef;
  background: white;
  margin-bottom: 20px;
}

.nav-bar-refined {
  width: 90%;
  background: white;
  margin: auto;
  padding: 25px;
}

.home-link {
  float: left;
}

.your-page-link {
  float: right;
}

/*logout modal*/

.right-below-nav {
  padding: 25px;
  margin-bottom: 20px;
}

.logout-modal-button {
  /*float: right;*/
  /*margin-bottom: 40px;*/
}

.logout-modal {
  width: 100%;
  height: 100%;
  /*background: green;*/
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  /*top: 50%;*/
  font-size: 20px;
  font-weight: 400;
  background: white;
}

.logout-half {
  display: block;
  /*background: green;*/
  height: 50%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  /*border-bottom: 1px solid gray;*/
  text-align: center;
  background: white;
}

.cancel-half {
  display: block;
  height: 50%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  background: white;
}

/*<img alt="Add a profile photo" class="_g5pg0" src="https://scontent-lga3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg">*/
/*Modal stuff*/

.user-picture-index {
  width: 1050px;
  margin: auto;
}

.posted-picture {
  float: left;
  margin: 20px;
}

/*PostForm*/

.post-form {
  position: fixed;
  bottom: 0px;
  right: 500px;
  width: 200px;
  height: 200px;
  background: green;
  margin-top: 20px;
  margin-bottom: 30px;
}

.post-form-button {
  width: 100%;
  height: 100%;
}

.modal-body {
  /*background: green;*/
  position: relative;
  height: 100%;
}

.post-form-box {
  /*background: red;*/
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0px;
  color: black;
}

.post-form-header {
  text-align: center;
  width: 50%;
  margin: auto;
  /*margin-top: 5%;*/
}

.image-preview-box {
  display: block;
  position: absolute;
  top: 5%;
  left: 15%;
  /*background: blue;*/
  width: 70%;
  height: 70%;
  border: 1px solid #fafafa;
}

.image-preview {
  width: 100%;
  height: 100%;
}

.choose-file {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 1%;
}

.upload-image-caption {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 1%;
}

.post-form-submit-button {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 1%;
  background: #fafafa;
  /*bottom: 10px;*/
}
/*-----------------------------------------------------------*/
.picture{
  float: left;
  margin: 10px;
  width: 50%;
}

.non-picture-stuff{
  float: right;
  width: 40%;
  padding: 10px;
  margin: auto;
}

.post-header {
  border-bottom: 1px solid #efefef;
  padding: 20px 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
}

.caption-and-comments {
  overflow-y: scroll;
  height: 500px;
}

.caption {
  color: #262626;
  margin: 10px 0 10px 0;
}

.username {
  display: inline;
  font-weight: 600;
  color: #262626;
}

.comment {
  word-wrap: break-word;
  margin: 10px 0 10px 0;
}

.comment-list {
  /*border-bottom: 1px solid #efefef;*/
}

.comment-form {
  padding: 15px 0 0 0;
  border-top: 1px solid #efefef;
}


/*Home Index Items */

.home-index-item {
  background: white;
  width: 600px;
  margin: auto;
  margin-bottom: 40px;
  border: 1px solid #efefef;
}

.caption-and-comments-home {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  font-size: 15px;
}

.comment-form-home {
  width: 90%;
  padding: 15px;
  margin: auto;
  border-top: 1px solid #efefef;
}

.post-header-home {
  padding: 15px 0 15px;
  font-size: 15px;
  font-weight: 600;
  color: #262626;
  width: 90%;
  margin: auto;
}
